<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Arctic Fox Indicators & Backtesting</title>
  </head>
  <!--
  ──────▄▌▐▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀▀▀▌
 ───▄▄██▌█ beep beep
 ▄▄▄▌▐██▌█ gay porn delivery
 ███████▌█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄​▄▄▄▄▄▄▌
 ▀(@)▀▀▀▀▀▀▀(@)(@)▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀(@)▀
 -->
<link rel="stylesheet" href="/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
 <body>
   <h1>Offerings</h1>
   <div>
     <span class="rainbow-lr">If you know your yesterday, your tomorrow is stronger.</span>
   </div>
     <div id="task-meta" class="siteheader">
       <h4 style="margin-left:1em; margin-top:0.5em;">Links</h4>
       <hr>

     <div id="topline">
       <div id="home">
         <a href="/"><img src="/res/home_icon.png" alt="Homepage" class="headerimg"></a>
         <h4>Home</h4>
       </div>

       <div id="indicators">
         <a href="/indicators/"><img src="/res/content_icon.png" alt="Content" class="headerimg"></a>
         <h4>Content</h4>
       </div>
	<div id="links">

             <a href="/links/"><img src="/res/link_icon.png" alt="Links" class="headerimg"></a>
	     <h4>Avenues for Generosity</h4>
         </div>
	 <div id="Contact">
		 <a href="/contact/"><img src="res/contact_icon.png" alt="Contact" class="headerimg"></a>
		 <h4>Contact me!</h4>
	</div>
         </div>
  </div>
  <div>
    <span class="rainbow-lr">If you know your yesterday, your tomorrow is stronger.</span>
  </div>
{{{body}}}

  <div>
    <span class="rainbow-lr">If you know your yesterday, your tomorrow is stronger.</span>
  </div>
<div id="legealese">
  <p> And I give it back to you, the people! Carpe diem!  </p>
 </body>


</html>
