<form action="">
<label for="symbol">Enter the symbol here...</label>
<input type="text" id="symbol" name="symbol">
<input type="submit" value="Submit">
</form>

<canvas id="chart"></canvas>
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/chartjs-chart-financial@0.2.1/dist/chartjs-chart-financial.min.js "></script>
<span id="chartVersion"></span>
<button id="update">Update</button>
<button id="randomizeData">Randomize Data</button>
<select id="type">
<option value="candlestick" selected>Candlestick</option>
<option value="ohlc">OHLC</option>
</select>
Scale Type:
<select id="scale-type">
<option value="linear" selected>Linear</option>
<option value="logarithmic">Logarithmic</option>
</select>
Color Scheme:
<select id="color-scheme">
<option value="muted" selected>Muted</option>
<option value="neon">Neon</option>
</select>
Border:
<select id="border">
<option value="true" selected>Yes</option>
<option value="false">No</option>
</select>
Mixed:
<select id="mixed">
<option value="true">Yes</option>
<option value="false" selected>No</option>
</select>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
<script src="/js/charting.js"></script>
